---
layout: default
---

{% assign archive_type = page.path | split: '/' | last %}

{% case page.type %}
  {% when 'year' %}
    <h1>Posts from {{ page.date | date: "%Y" }}</h1>

  {% when 'month' %}
    <h1>Posts from {{ page.date | date: "%B %Y" }}</h1>

  {% when 'day' %}
    <h1>Posts from {{ page.date | date: "%B %d, %Y" }}</h1>
  
  {% when 'tag', 'category' %}
  <h1>Posts from {{ page.type }} '{{ page.title }}'</h1>

{% endcase %}

<ul class="post-list">
  {%- for post in page.posts -%}
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>